<nav class="navbar">
  <div class="logo">Digital Library</div>
  <ul class="nav-links">
    <li><a href="../index.html">Home</a></li>
    <li class="dropdown">
      <a href="#">About Library</a>
      <ul class="dropdown-menu">
        <li><a href="../about/library-profile.html">Library Profile</a></li>
        <li><a href="../about/vision-mission.html">Vision & Mission</a></li>
        <li><a href="../about/history.html">History</a></li>
      </ul>
    </li>
    <li><a href="../services.html">Services</a></li>
    <li><a href="../collections.html">Collections</a></li>
    <li><a href="../membership.html">Membership</a></li>
    <li><a href="../news.html">News</a></li>
    <li><a href="../contact.html">Contact</a></li>
  </ul>
</nav>

